<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_firebase_todo_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.android_firebase_todo_app">
        <activity android:name=".SignUpLoginActivity"/>
        <activity android:name=".VerTodosActivity" />
        <activity android:name=".CreateTodoActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.android_firebase_todo_app.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>